<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-braze" version="6.0.0">
  <name>Device</name>
  <description>Braze Cordova SDK</description>
  <license>MIT</license>
  <keywords>cordova,appboy,braze</keywords>
  <js-module src="www/BrazePlugin.js" name="BrazePlugin">
    <clobbers target="BrazePlugin" />
    <clobbers target="AppboyPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BrazePlugin">
        <param name="android-package" value="com.braze.cordova.BrazePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/BrazePlugin.kt" target-dir="java/com/braze/cordova" />
    <source-file src="src/android/ContentCardUtils.kt" target-dir="java/com/braze/cordova" />
    <source-file src="src/android/FeatureFlagUtils.kt" target-dir="java/com/braze/cordova" />
    <source-file src="src/android/CordovaInAppMessageViewWrapper.kt" target-dir="java/com/braze/cordova" />
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.braze.push.BrazeFirebaseMessagingService" android:exported="false">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
      </service>
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BrazePlugin">
        <param name="ios-package" value="BrazePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/BrazePlugin.h" />
    <source-file src="src/ios/BrazePlugin.m" />
    <header-file src="src/ios/AppDelegate+Braze.h" />
    <source-file src="src/ios/AppDelegate+Braze.m" />
    <header-file src="src/ios/BrazeIDFADelegate.h" />
    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="BrazeKit" spec="~> 6.5.0" />
        <pod name="BrazeUI" spec="~> 6.5.0" />
        <pod name="BrazeLocation" spec="~> 6.5.0" />
      </pods>
    </podspec>
  </platform>
</plugin>
