<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-appboy" version="2.3.2">
  <name>Device</name>
  <description>Appboy Cordova SDK</description>
  <license>MIT</license>
  <keywords>cordova,appboy</keywords>
  <js-module src="www/AppboyPlugin.js" name="AppboyPlugin">
    <clobbers target="AppboyPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AppboyPlugin">
        <param name="android-package" value="com.appboy.cordova.AppboyPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/AppboyPlugin.java" target-dir="src/com/appboy/cordova" />
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
      <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
      <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.appboy.ui.activities.AppboyFeedActivity" />
      <activity android:name="com.appboy.ui.AppboyWebViewActivity"/>
      <receiver android:name="com.appboy.AppboyGcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
          <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
          <category android:name="$PACKAGE_NAME" />
        </intent-filter>
      </receiver>
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">
    <!-- AUTOGENERATED KIT FILES START -->
    <source-file src="src/ios/AppboyKit/ABKIdentifierForAdvertisingProvider.m"/>
    <source-file src="src/ios/AppboyKit/ABKSDWebImageProxy.m"/>
    <resource-file src="src/ios/AppboyKit/Appboy.bundle"/>
    <framework src="src/ios/AppboyKit/FLAnimatedImage.framework" custom="true"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKAppboyEndpointDelegate.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKAttributionData.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKBannerCard.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKCaptionedImageCard.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKCard.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKClassicCard.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKCrossPromotionCard.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFacebookUser.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedback.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedbackViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedbackViewControllerModalContext.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedbackViewControllerNavigationContext.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedbackViewControllerPopoverContext.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedViewControllerDelegate.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedViewControllerGenericContext.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedViewControllerModalContext.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedViewControllerNavigationContext.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKFeedViewControllerPopoverContext.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKIdentifierForAdvertisingProvider.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKIDFADelegate.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessage.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageButton.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageControllerDelegate.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageFull.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageFullViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageHTML.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageHTMLFull.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageHTMLFullViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageHTMLViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageImmersive.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageImmersiveViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageModal.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageModalViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageSlideup.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageSlideupViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageView.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKInAppMessageViewController.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKLocationManager.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKNavigationBar.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKPushURIDelegate.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKPushUtils.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKSDWebImageProxy.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKTextAnnouncementCard.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKThemableFeedNavigationBar.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKTwitterUser.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKURLDelegate.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/ABKUser.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/Appboy.h"/>
    <header-file src="src/ios/AppboyKit/headers/AppboyKitLibrary/AppboyKit.h"/>
    <source-file src="src/ios/AppboyKit/libAppboyKitLibrary.a" framework="true"/>
    <framework src="src/ios/AppboyKit/SDWebImage.framework" custom="true"/>
    <!-- AUTOGENERATED KIT FILES END -->

    <!-- frameworks -->
    <framework src="libz.dylib" />
    <framework src="SystemConfiguration.framework"/>
    <framework src="QuartzCore.framework"/>
    <framework src="CoreImage.framework"/>
    <framework src="CoreText.framework"/>
    <framework src="CoreTelephony.framework"  weak="true" />
    <framework src="Social.framework"  weak="true" />
    <framework src="Accounts.framework" weak="true" />
    <framework src="AdSupport.framework" weak="true" />
    <framework src="StoreKit.framework" weak="true" />
    <framework src="ImageIO.framework" weak="true" />

    <config-file target="config.xml" parent="/*">
      <feature name="AppboyPlugin">
        <param name="ios-package" value="AppboyPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <header-file src="src/ios/AppboyPlugin.h" />
    <source-file src="src/ios/AppboyPlugin.m" />
    <header-file src="src/ios/AppDelegate+Appboy.h" />
    <source-file src="src/ios/AppDelegate+Appboy.m" />
  </platform>
</plugin>
